{% extends 'base.html' %}
{% from "macros.html" import format_challenge %}
{% from "macros.html" import format_group %}

{% block header %}
  <h1>{% block title %}User u/{{ user.user_name }} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="challenge">
     {% if user.is_admin and groups|length > 0 %}
      <h2> Administrates the group{% if groups|length > 1 %}s{% endif %} </h2>
      <ol>
      {% for group in groups %}
      <li>{{ format_group(group) }}</li>
      {% endfor %}
      </ol>
      
    {% endif %}
    {% if user.challenges_owned %}
      <h2> (Co)-Owns the challenge{% if user.challenges_owned|length > 1 %}s{% endif %} </h2>
      <ol>
      {% for challenge in user.challenges_owned %}
      <li>{{ format_challenge(challenge) }}</li>
      {% endfor %}
      </ol>
      {% endif %}
  </article>
  <article class="challenge">
      {% if user.challenges_djudged %}
      <h2> Addjudicates the challenge{% if user.challenges_djudged|length > 1 %}s{% endif %} </h2>
      <ol>
      {% for challenge in user.challenges_djudged %}
      <li>{{ format_challenge(challenge) }}</li>
      {% endfor %}
      </ol>
      {% endif %}
  </article>
  <article class="challenge">
      {% if user.challenges_participated %}
      <h2> Participates in the challenge{% if user.challenges_participated|length > 1 %}s{% endif %} </h2>
      <ol>
      {% for challenge in user.challenges_participated %}
      <li>{{ format_challenge(challenge) }}</li><p><a href="{{ url_for('sotd.view_sotds_for_user_in_challenge', user_pk=user.pk, challenge_pk=challenge.pk) }}">Submissions</a></p>
      {% endfor %}
      </ol>
      {% endif %}
  </article>
  <article class="challenge">
    {% if current_user == user %}
      {% if user.addjudicated %}
        <h2> Addjudicated case{% if user.addjudicated|length > 1 %}s{% endif %} </h2>
        <ol>
          {% for invitation in user.addjudicated %}
            <li><a href="{{ url_for('djudgement.edit', djudgement_pk=invitation.djudgement.pk) }}"> Day {{ invitation.sotd.post.day_associations[invitation.challenge].day }}<a> of {{ format_challenge(invitation.challenge) }} by u/{{ invitation.sotd.author.user_name }}</li>
          {% endfor %}
        </ol>
        {% endif %}
      {% if user.selected %}
        <h2> Selected case{% if user.selected|length > 1 %}s{% endif %} </h2>
        <ol>
          {% for selection in user.selected %}
            <li><a href="{{ url_for('djudgement.select', selection_pk=selection.pk) }}"> Selection {{ loop.index }}<a> in {{ format_challenge(selection.selection_template.challenge) }} </li>
          {% endfor %}
        </ol>
      {% endif %}
    {% endif %}
  </article>
{% endblock %}
