{% extends 'base.html' %}
{% from "macros.html" import format_challenge %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_sotd_association with context %}
{% from "macros.html" import format_note with context %}
{% from "macros.html" import format_post %}

{% block title %} Notes re: tag '{{ category.title }}' for {{ category.challenge.title }} {% endblock %}
{% block header %}
<h1>Notes re: tag '{{ category.title }}' for {{ format_challenge(category.challenge) }}</h1>
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div>The following SOTDs were annotated:</div>
    </header>
    <div>
      <ol>
        {% for post in notes_dict %}
          <li> <a href="#day_{{ loop.index }}">{{ post.title }} </a>
        {% endfor %}
      </ol>
    </div>

    {% for post, notes in notes_dict.items() %}
      <h3 id="day_{{ loop.index }}">{{ post.title }}</h3>
      {% for note in notes %}
        {% if note.has_note() %}
          {{ format_sotd_association(note.djudgement.djudgement_invitation.sotd_association) }}

          {{ format_note(note) }}
        {% endif %}
      {% endfor %}
    {% endfor %}
</article>
{% endblock %}
