{% extends 'base.html' %}
{% from "macros.html" import format_user  with context %}
{% from "macros.html" import format_sotd  with context %}
{% from "macros.html" import format_challenge %}

{% block title %}Tallies for  {{ challenge.title }}{% endblock %}
{% block header %}
<h1>Brand usage stats for  {{ format_challenge(challenge) }}</h1>

{% endblock %}


{% block content %}
<article class="challenge">
  <h3> Overall usage </h3>
  {% for title, stats in brand_usage.items() %}
    <h4>{{ title }}</h4>
    <table class="table">
      <tr class="table__header">
        <th  class="table__cell"> #</th>
        <th  class="table__cell"> Brand</th>
        <th  class="table__cell"> Count</th>
      </tr>
      {% for brand, count in stats %}
        <tr class="table__row">
          <td class="table__cell">{{loop.counter}}</td>
          <td class="table__cell">{{ brand }}</td>
          <td class="table__cell">{{count}}</td>
        </tr>
      {% endfor %}
    </table>
  {% endfor %}
  </article>
{% endblock %}
