{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% from "macros.html" import format_challenge %}

{% block title %} Challenge Group '{{ group.name }}' {% endblock %}
{% block header %}
  <h1></h1>
{% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div> Your are {{ "%.2f"|format(current_user.percentage_djudged) }}% done and have {{ current_user.docket|length }} djudgements left to do. </div>
    </header>

    <h3>Contains challenges </h3>
    <div>
      <ol>
        {% for challenge in group.challenges %}
          <li> {{ format_challenge(challenge) }}</li>
        {% endfor %}
      </ol>
    </div>
    <form class="form form-horizontal" method="post" role="form">
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}

      {{ wtf.form_field(form.next_post_url) }}
      {{ wtf.form_field(form.alert_djudges) }}
      {{ wtf.form_field(form.clear_url) }}
      {{ wtf.form_field(form.update) }}
      {{ wtf.form_field(form.cancel) }}
      {{ form.csrf_token() }}
    </form>
  </article>
{% endblock %}
