{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block header %}
<h1>{% block title %}Create Ranking {% endblock %}</h1>
{% endblock %}

{% block content %}
  <article class="Ranking">
    <header>
    </header>
    <div>
        {{ form.hidden_tag() }}
        {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('xs', 2, 8)) }}
        {{ form.csrf_token() }}


    </div>
  </article>
{% endblock %}
