{% extends 'base.html' %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_post %}
{% from "macros.html" import format_challenge %}

{% block header %}
  <h1>{% block title %} Ranking of challenge '{{ analysis.challenges[0].name }}'{% endblock %}</h1>
  {% if current_user in challenge.owners or current_user.is_admin %}
    <a class="action" href="{{ url_for('challenge.edit', id=challenge['pk']) }}">Edit</a>
  {% endif %}
{% endblock %}

{% block content %}
  <article class="challenge">
    <header>
      <h2> Ranking {{ format_challenge(analysis.challenges[0]) }} </h2>
      <ol>
        {% for row in analysis.ranking %}
        <li> {{ '{: <6.2f}'.format(row.score) }} {{ format_user(row.user) }} </li>
        {% endfor %}
      </ol>
    </header>

  </article>
{% endblock %}
