{% extends 'base.html' %}
{% from "macros.html" import format_user  with context %}
{% from "macros.html" import format_sotd  with context %}
{% from "macros.html" import format_challenge %}

{% block title %}SOTD  by u/{{ sotd.author.user_name }} {% endblock %}

{% block header %}
<h1>SOTD  by {{ format_user(sotd.author) }}</h1>

{% endblock %}


{% block content %}
<article class="challenge">
  {{ format_sotd(sotd) }}
  </article>
{% endblock %}
