{% extends 'base.html' %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_challenge %}

{% block title %} {{ djudge.user_name }}'s docket {% endblock %}

{% block header %}
  <h1>{{ format_user(djudge) }}'s docket</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div></div>
      </header>
      {% if djudge.open_djudgement_invitations %}
      <h4> Open Djudgements </h4>
      <div>
      <ol>
      {% for djudge_invite in djudge.open_djudgement_invitations %}
        <li> <a href="{{ url_for('djudgement.adjudicate', invitation_pk=djudge_invite.pk) }}">SOTD</a> on day {{ djudge_invite.sotd.post.day_associations[djudge_invite.challenge].day }} for {{ format_challenge(djudge_invite.challenge) }} for {{ format_user(djudge_invite.sotd.author) }}</li>
      {% endfor %}
      </ol>
      </div>
      {% endif %}

      {% if djudge.open_selections %}
      <div>
      <h4> Open selections </h4>
      <ol>
      {% for selection in djudge.open_selections %}
        <li> <a href="{{ url_for('djudgement.select', selection_pk=selection.pk) }}">"{{ selection.selection_template.title }} "</a> </li>
      {% endfor %}
      </ol>
      </div>
      {% endif %}

    </article>
{% endblock %}
