{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_challenge %}
{% from "macros.html" import format_sotd with context %}

{% block title %} Selection '{{ selection.selection_template.title }}' for {{selection.djudge.user_name }} {% endblock %}
{% block header %}
<h1></h1>
{% endblock %}

{% block content %}
<article class="post">
  <header>
    <div>Please re-read <a href="{{ url_for('challenge.view', id=selection.selection_template.challenge.pk)}}">the rules</a> of the challenge if you don't remember.</div>
    <div> Your are {{ "%.2f"|format(selection.djudge.percentage_djudged) }}% done and have {{ selection.djudge.docket|length }} djudgements left to do. </div>
  </header>

  <h3>Instructions for selection '{{ selection.selection_template.title }}'</h3>
  <p>{{ selection.selection_template.guidance_markdown|safe }}</p>
  <div>
  </div>
  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    {% for subfield in form.choice %}
    <div>
      {{ wtf.form_field(subfield) }}
      <p> {{ format_sotd(choices[subfield.label.text]) }} </p>
      {% if not loop.last %}
      <hr>
      {% endif %}
      {% endfor %}

      {{ wtf.form_field(form.submit) }}
      {{ wtf.form_field(form.cancel) }}
      {{ form.csrf_token() }}
  </form>
</article>
{% endblock %}
