{% macro format_user(user) %}<a style="display: inline;" href="{{ url_for('user.view', pk=user.pk) }}">u/{{ user.user_name }}</a>{% endmacro%}

{% macro format_challenge(challenge) %}<a style="display: inline;" href="{{ url_for('challenge.view', id=challenge.pk) }}">{{ challenge.name }}</a>{% endmacro%}

{% macro format_note(note, mention_tag=False) %}
  {% if mention_tag %}
    <strong>{{ note.category.title }}:</strong>
  {% endif %}
  {% if current_user in note.category.challenge.djudges  or current_user in note.category.challenge.owners %}
    The Hon. Djudge {{ format_user(note.djudgement.djudgement_invitation.djudge) }}
  {% else %}
    An Anonymous Djudge
  {% endif %}
  remarked:
  <div style="padding: 10px; border: 2px solid black;">{{ note.note_markdown|safe }} </div>
{% endmacro %}

{% macro format_sotd(sotd) %}
  {{ format_user(sotd.author) }} <a style="display: inline;" href="{{ url_for('sotd.view', pk=sotd.pk) }}">posted</a>&nbsp;on {{ sotd.pst_datetime }} (Pacific Standard Time). <a href="https://reddit.com{{ sotd.permalink }}" target="_blank">Reddit Comment</a> (<a style="display: inline;" href="{{ url_for('sotd.view_markdown', sotd_pk=sotd.pk) }}">See markdown</a>)    <div style="padding: 10px; border: 2px solid black;">{{ sotd['markdown_text']|safe }} </div>
  {% if sotd['meta_info'] %}
    <p><strong>Detected Items:</strong><ul>
        {% for meta_info in sotd['meta_info'] %}
          <li> {{ meta_info['item']['html']|safe }}{% if meta_info.djudicial_dq %} (DQed){% endif %}
            {% if meta_info['hashtags'] %}
              [{% for hashtag_assoc in meta_info['hashtag_associations'] %}{{ hashtag_assoc.hashtag['tag'] }}{% if hashtag_assoc.djudicial_dq %} (DQed){% endif %}{{ ", " if not loop.last else "" }}
            {% endfor %}]
          {% endif %}
          </li>
        {% endfor %}
    </ul></p>
  {% endif %}
  {% if sotd.challenges %}
    This SOTD is part of the challenge{% if sotd.challenges|length > 133 %}s{% endif %}
    <ol>
      {% for challenge in sotd.challenges %}
        <li>{{ format_challenge(challenge) }}
        </li>
      {% endfor %}
    </ol>
    {% if current_user.is_authenticated %}
      {% if sotd in current_user.sotds_on_docket %}
        <p> You still need to <a style="display: inline;" href="{{ url_for('djudgement.adjudicate', invitation_pk=current_user.sotd_to_invite[sotd.pk]) }}">addjudicate this SOTD.</a></p>
      {% endif %}
      {% if sotd in current_user.sotds_addjudicated %}
        <p> You <a style="display: inline;" href="{{ url_for('djudgement.edit', djudgement_pk=current_user.sotd_to_djudgement[sotd.pk]) }}"> have addjudicated </a>this SOTD.</p>
      {% endif %}
    {% endif %}
  {% endif %}
  {% for inv in sotd.djudgement_invitations %}
    {% if current_user in inv.challenge.djudges or current_user in inv.challenge.owners %}
      <p>
        {% if inv.djudgement %}
          This SOTD was djudged by {{ format_user(inv.djudge) }} for {{ format_challenge(inv.challenge) }}
        {% else %}
          This SOTD is on {{ format_user(inv.djudge) }}'s docket for {{ format_challenge(inv.challenge) }}
        {% endif %}
        {% if current_user == inv.sotd_association.djudge and inv.challenge.has_meta_data_check %}
          <p><a style="display: inline;" href="{{ url_for('meta_data.validate', sotd_association_pk=inv.sotd_association.pk) }}"> Edit meta data </a></p>
        {% endif %}
      </p>
    {% endif %}

{% endfor %}
{% endmacro%}

{% macro format_sotd_association(sotd_association, show_notes=False) %}{{ format_user(sotd_association.sotd.author) }} <a style="display: inline;" href="{{ url_for('sotd.view', pk=sotd_association.sotd_pk) }}">posted</a>&nbsp;on {{ sotd_association.sotd.pst_datetime }} (Pacific Standard Time). <a href="https://reddit.com{{ sotd_association.sotd.permalink }}" target="_blank">Reddit Comment</a> (<a style="display: inline;" href="{{ url_for('sotd.view_markdown', sotd_pk=sotd_association.sotd_pk) }}">See markdown</a>)
  <div style="padding: 10px; border: 2px solid black;">{{ sotd_association.sotd['markdown_text']|safe }} </div>
  {% if current_user in sotd_association.challenge.djudges or current_user in sotd_association.challenge.owners %}
    {% if sotd_association.djudgement.disqualified %}
      <p> Djudged <strong>DISQUALIFIED ❌</strong></p>
    {% elif sotd_association.property_value("on theme").value == True %}
      <p> Djudged <strong>on theme ☑</strong></p>
    {% elif sotd_association.property_value("on theme").value == False %}
      <p>Djudged <strong>NOT on theme! ❌</strong></p>
    {% endif %}
  {% endif %}

  {% if sotd_association['meta_info'] %}
    <p><strong>Detected Items:</strong><ul>
        {% for meta_info in sotd_association['meta_info'] %}
          <li> {{ meta_info['item']['html']|safe }}{% if meta_info.djudicial_dq %} (DQed){% endif %}
            {% if meta_info['hashtags'] %}
              [{% for hashtag_assoc in meta_info['hashtag_associations'] %}{{ hashtag_assoc.hashtag['tag'] }}{% if hashtag_assoc.djudicial_dq %} (DQed){% endif %}{{ ", " if not loop.last else "" }}
            {% endfor %}]
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </p>
    {% if sotd_association.sponsor_uses %}
      <p>
        <strong>Sponsor Uses</strong>
        <ul>
          {% for use in sotd_association.sponsor_uses.values() %}
            <li>
              {{ use.sponsor }} ({{ use.sponsor_points.title }})
            </li>
          {% endfor %}
        </ul>
      </p>
    {% endif %}
  {% endif %}
  {% if current_user.is_authenticated %}
    {% if sotd_association.sotd in current_user.sotds_on_docket %}
      <p> You still need to <a style="display: inline;" href="{{ url_for('djudgement.adjudicate', invitation_pk=current_user.sotd_to_invite[sotd_association.sotd.pk]) }}">addjudicate this SOTD.</a></p>
    {% endif %}
    {% if sotd_association.sotd in current_user.sotds_addjudicated %}
      <p> You <a style="display: inline;" href="{{ url_for('djudgement.edit', djudgement_pk=current_user.sotd_to_djudgement[sotd_association.sotd.pk]) }}"> have addjudicated </a>this SOTD.</p>
    {% endif %}
  {% endif %}
  {% if current_user == sotd_association.sotd.author %}
    <p> Your SOTD has
      {% if not  sotd_association.djudgement %}
        not yet
      {% endif %}
      been djudged for {{ format_challenge(sotd_association.challenge) }}.
    </p>
  {% endif %}
  {% for inv in sotd_association.sotd.djudgement_invitations %}
    {% if current_user in inv.challenge.djudges or current_user in inv.challenge.owners %}
      <p>
        {% if inv.djudgement %}
          This SOTD was djudged by {{ format_user(inv.djudge) }} for {{ format_challenge(inv.challenge) }}.
          {% if current_user == inv.sotd_association.djudge %}
            <a style="display: inline;" href="{{ url_for('djudgement.adjudicate',invitation_pk = inv.pk) }}"> Edit djudgement </a>
          {% endif %}
        {% else %}
          This SOTD is on {{ format_user(inv.djudge) }}'s docket for {{ format_challenge(inv.challenge) }}
        {% endif %}
        {% if current_user == inv.sotd_association.djudge and inv.challenge.has_meta_data_check %}
          <p><a style="display: inline;" href="{{ url_for('meta_data.validate', sotd_association_pk=inv.sotd_association.pk) }}"> Edit meta data </a></p>
        {% endif %}
      </p>
    {% endif %}
  {% endfor %}
  {% if show_notes %}
    {% for note in sotd_association.notes %}
      {{ format_note(note, True) }}
    {% endfor %}
  {% endif %}
{% endmacro%}


{% macro format_post(post, challenge) %}
  <a style="display: inline;" href="{{ url_for('post.view', post_pk=post.pk, challenge_pk=challenge.pk) }}">{{ post.title }}</a>
{% endmacro%}

{% macro format_sotd_light(sotd) %}{{ format_user(sotd.author) }} <a style="display: inline;" href="{{ url_for('sotd.view', pk=sotd.pk) }}">posted</a>&nbsp;on {{ sotd.pst_datetime }} (Pacific Standard Time). <a href="https://reddit.com{{ sotd.permalink }}" target="_blank">Reddit Comment</a>    <div style="padding: 10px; border: 2px solid black;">{{ sotd['markdown_text']|safe }} </div>
  {% if sotd.challenges %}
    This SOTD is part of the challenge{% if sotd.challenges|length > 133 %}s{% endif %}
    <ol>
      {% for challenge in sotd.challenges %}
        <li>{{ format_challenge(challenge) }}</li>
      {% endfor %}
    </ol>
  {% endif %}
{% endmacro%}

{% macro format_post(post, challenge) %}
  <a style="display: inline;" href="{{ url_for('post.view', post_pk=post.pk, challenge_pk=challenge.pk) }}">{{ post.title }}</a>
{% endmacro%}

{% macro format_group(group) %}
  <a style="display: inline;" href="{{ url_for('challenge.group_view', group_pk=group.pk) }}">{{ group.name }}</a>
{% endmacro%}
