{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% from "macros.html" import format_user %}
{% from "macros.html" import format_challenge %}
{% from "macros.html" import format_sotd_association with context %}

{% block title %} Meta data validation of u/{{ sotd_association.sotd.author.user_name }}'s {{ sotd_association.challenge.title }} submission for day {{ sotd_association.sotd.post.day_associations[sotd_association.challenge].day }} {% endblock %}
{% block header %}
  <h1>Meta data validation of  {{ format_user(sotd_association.sotd.author) }}'s {{ format_challenge(sotd_association.challenge) }} submission for day {{ sotd_association.sotd.post.day_associations[sotd_association.challenge].day }}</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>Please re-read <a href="{{ url_for('challenge.view', id=sotd_association.challenge.pk)}}">the rules</a> of the challenge if you don't remember.</div>
        <div> Your are {{ "%.2f"|format(sotd_association.djudge.percentage_djudged) }}% done and have {{ sotd_association.djudge.docket|length }} djudgements left to do. </div>
      </header>

      <div>
        {{ format_sotd_association(sotd_association, True) }}
    </div>
      <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

      {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('xs', 2, 8)) }}
      {{ form.csrf_token() }}
      </form>
    </article>
{% endblock %}
